[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "ethgreen-blockchain-gui"]
	path = ethgreen-blockchain-gui
	url = https://github.com/ethgreen/ethgreen-blockchain-gui.git
