[submodule "ethgreen-blockchain-gui"]
	path = ethgreen-blockchain-gui
	url = https://github.com/ethgreen-network/ethgreen-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
