Package: ethgreen-blockchain-cli
Version: {{ ETHGREEN_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: ETHgreen Network Inc <hello@eth-green.com>
Description: ETHgreen Blockchain
 ETHgreen is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
